* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.myCard {
	display: flex;
	margin-left: 10px;
}

.myCard p{
	margin-right: 5px;
	margin-left: 5px;
}
.myCard h3{
	font-weight: lighter;
	color: orangered;
}

.main {
	width: 90vw;
	min-height: 100vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

@keyframes removeanimation {
	from {
		opacity: 1;
		transform: rotateX(0%);
	}
	to {
		opacity: 0;
		transform: rotateX(-10px);
	}
}