.checkout {
	position: sticky;
	top: 30px;
	width: 300px;
	height: 70vh;
	background-color: orange;
	border-radius: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout h1 {
	font-size: 1rem;
}

.checkout h4 {
	display: flex;
	letter-spacing: 2px;
	font-size: 1.8rem;
}

.checkout button {
	width: 250px;
	padding: 1rem 1rem;
	margin-top: 10px;
	background-color: darkorange;
	border: none;
	color: white;
	font-size: large;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease;
}

.checkout button:hover {
	background-color: rgb(230, 132, 12);
}

.description {
	margin-top: 10px;
}